html, body {
    height:100%;
}
.container {
    align-items: center;
}
.section {
    margin: 0 auto;
    /* width: 70%; */
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0.30263158em;
    padding-bottom: 0.60526316em;
}
.sectionimage {
    /* margin: 0 auto; */
    text-align: center;
    padding-top: 0.30263158em;
    padding-bottom: 0.60526316em;
}

.sectionimage img {
    max-width: 100%;
}

.subsection {
    background-color: #000;
}

#sectiontan {
    background-color: #FBEFE0;
    /* clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 2vw)
    ); */
}
#sectionblue {
    background-color: #B2B0CF;
    /* clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 2vw)
    ); */
}
#sectionlightblue {
    background-color: #E1F2FE;
}
.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 4.22222222em;
    padding-bottom: 4.22222222em;
}
#footer {
    background-color: #000;
}

.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  width: 100%;
  border-radius: 50%;

  background: #E1F2FE;

  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  /* line-height: 0; */
  position: relative;

}

/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
