html, body {
    height:100%;
}
.container {
    align-items: center;
}


.section {
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 0.30263158em;
    padding-bottom: 0.60526316em;
}

@media only screen and (min-device-width: 768px) {
    .section {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.sectionimage {
    /* margin: 0 auto; */
    text-align: center;
    padding-top: 0.30263158em;
    padding-bottom: 0.60526316em;
}

.sectionimage img {
    max-width: 100%;
}

.subsection {
    background-color: #000;
}

#sectiontan {
    background-color: #FBEFE0;
}
#sectionblue {
    background-color: #B2B0CF;
}
#sectionlightblue {
    background-color: #E1F2FE;
}
.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    padding-top: 4.22222222em;
    padding-bottom: 4.22222222em;
}
